.navbar{
    transform: translateY(0);
    &.scroll-up{
        animation: scrollUp .2s ease-in 1 normal;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
        backdrop-filter: blur(30px) contrast(70%) brightness(30%);
    }
    &.scroll-down{
        transform: translateY(-100%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        animation: scrollDown .25s ease-in 1 normal;
        backdrop-filter: blur(30px) contrast(70%) brightness(30%);
    }
    &.page-top{
        transform: translateY(0);
    }
    .link-items {
        text-align: center;
        a{
            position: relative;
            z-index: 0;
            opacity:.75;
            transform: skewX(-5deg);
            transition: all 0.2s;
            p {
                font-weight: 400;
                text-shadow: 1px 1px 3px rgba(100,100,100,.75);
            }
            &:hover{
                opacity: 1;
                transform: scale(1.05) skewX(-5deg);
            }
            &.active {
                opacity: 1;
                p {
                    font-weight: 600;
                    text-shadow: 1px 1px 3px #d1911952;
                    &::before{
                        position: absolute;
                        content: '';
                        bottom: -5px;
                        width: 60%;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 2px;
                        // color: #d19119;
                    }
                }
                &:hover {
                    transform: scale(1) skewX(-5deg);

                    &::before, &::after{
                        content: none;
                    }
                }
                // &::before, &::after{
                //     position: absolute;
                //     opacity: 1;
                //     font-size: "inherit";
                //     font-weight: 800;
                //     top: 0;
                //     transition: all 0.15s ease-in;
                // }
                // &::before{
                //     content: '<';
                //     left: -1.1em;
                //     transform: translateX(10px);
                //     color:#d19119;
                // }
                // &::after{
                //     content: '/>';
                //     right: -1.3em;
                //     transform: translateX(-10px);
                //     color:#d19119;
                // }
            }

            &::before, &::after{
                position: absolute;
                opacity: 0;
                font-size: "inherit";
                font-weight: 800;
                top: 0;
                transition: all 0.15s ease-in;
            }
            &::before{
                content: '<';
                left: -1.1em;
                transform: translateX(10px);
                color:#d19119;
            }
            &::after{
                content: '/>';
                right: -1.3em;
                transform: translateX(-10px);
                color:#d19119;
            }
            &:hover::before, &:hover::after{
                opacity: .8;
                transform: translateX(0px);
            }
        }
    }
}

.navbar-modal {
    .link-items {
        // text-align: center;
        width: fit-content;
        margin-left: auto;
        a{
            z-index: 0;
            opacity:.75;
            transition: all 0.3s;

            p {
                font-weight: 400;
                position: relative;
                transform: skewX(-5deg);
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            &.active {
                opacity: 1;
                p {
                    font-weight: 600;
                    transform: scale(1.05) translateX(-5px) skewX(-5deg);
                    &::before, &::after{
                        opacity: .75;
                        position: absolute;
                        top: 0;
                        color:#d19119;
                        font-weight: 600;
                        letter-spacing: .01;
                    }
                    &::before{
                        content: '<';
                        left: -.9em;
                    }
                    &::after{
                        content: '>';
                        right: -1em;
                    }
    
                }
            }
        }
    }

}

@keyframes scrollDown {
    from {transform: translateY(0);}
    to {transform: translateY(-100%);}
  }
@keyframes scrollUp {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
  }